
asgiref
billiard
blinker
certifi
channels
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
distro
Django
django-ckeditor
django-compat
django-js-asset
djangorestframework
docutils
Flask
gunicorn
idna
importlib-metadata
isort
itsdangerous
jedi
Jinja2
Kivy
kombu
lazy-object-proxy
MarkupSafe
mccabe
packaging
parso
Pillow
pkgconfig
platformdirs
prompt-toolkit
Pygments
pyjnius
pylint
pyparsing
PySDL2
python-dateutil
pytube
pytz
requests
scikit-build
six
soupsieve
sqlparse
toml
tqdm
typed-ast
typing_extensions
tzdata
urllib3
vine
wcwidth
Werkzeug
whitenoise
wrapt
zipp
